@import url("https://fonts.googleapis.com/css?family=Roboto");
/*  Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--dark-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  margin: auto;
  padding: 0 2rem;
  max-width: 1100px;
  overflow: hidden;
}

/* Text Styles */
.x-large {
  margin-bottom: 1rem;
  font-size: 4rem;
  line-height: 1.2;
}

.large {
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 1.2;
}

.lead {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-success {
  color: var(--success-color);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Cards */
.card {
  margin: 0.7rem 0;
  padding: 1rem;
  border: 1px dotted #ccc;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Margin */
.m {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.mx {
  margin: 0 0.5rem;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.px {
  padding: 0 0.5rem;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}

/* Grid */
.grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-2-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
}

/* Button */
.btn {
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.4rem 1.3rem;
  background-color: var(--light-color);
  border: none;
  font-size: 1rem;
  color: var(--dark-color);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  outline: none;
}

.btn-link {
  margin: 0;
  padding: 0;
  background-color: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  margin-right: 0.2rem;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
}

.badge {
  margin: 0.3rem;
  padding: 0.2rem 0.7rem;
  font-size: 0.8rem;
  background-color: var(--light-color);
  border-radius: 5px;
  color: var(--dark-color);
  text-align: center;
}

.alert {
  margin: 1rem 0;
  padding: 0.7rem;
  background-color: var(--light-color);
  color: var(--dark-color);
  opacity: 0.9;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background-color: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background-color: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background-color: #fff;
  border: 1px solid #ccc;
  color: var(--dark-color);
}

.bg-light,
.badge-light {
  border: 1px solid #ccc;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input {
  margin: 1.2rem 0;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  padding: 0.4rem;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}

input[type='submit'],
button {
  font: inherit;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-container {
  margin: 2rem auto;
  padding: 0 2rem;
  max-width: 500px;
  overflow: hidden;
}

.form-container h1,
.form-container h2,
.form-container h3 {
  text-align: center;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background-color: var(--light-color);
}

/* Navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  padding: 0.7rem 2rem;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  opacity: 0.9;
  z-index: 1;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  margin: 0 0.25rem;
  padding: 0.45rem;
  color: #fff;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Animation */
.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  .grid-2, .grid-3, .grid-4 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar h1 {
    margin-bottom: 0.6rem;
  }
  .navbar ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
